@import "~/src/assets/scss/variables";
@import "~/src/assets/scss/mixins";

.wrap-img {
  width: 10rem;
  height: 10rem;
  border: 1px solid $color-primary;
  border-radius: 50%;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .upload-btn {
    border: 1px solid $color-primary;
    background-color: $grey-light;
    color: $color-primary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: auto;
    transform: translateX(100%);

    .input-file {
      display: none;
    }

    .icon {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.form__fields-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .form__field {
    width: 45%;
  }
}

.hide {
  display: none;
}

.field-date {
  position: relative;

  .date-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .input {
    width: 100%;
    cursor: pointer;
  }
}

.spinner {  
  position: fixed;
  @include absCenter();
  z-index: 60; 
}

.blur {
  filter: blur(1px);
}