@import "./variables";

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == mobile-small {
    @media (max-width: 450px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
