@import "~/src/assets/scss/variables";
@import "~/src/assets/scss/mixins";

.popup {
  @include absCenter();
  position: fixed;
  background-color: $color-primary-dark;
  width: 50rem;
  height: 20rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 2rem;

  .message {
    text-align: center;
    font-size: 1.8rem;
    color: $badges-bg-minus;
    margin-bottom: 1.5rem;
  }
}

.spinner {  
  position: fixed;
  @include absCenter();
  z-index: 60; 
}

.blur {
  filter: blur(1px);
}
