<app-auth-container
  class="reset-password-page"
  title="Reset password"
  [showLogo]="showLogo"
>
  <form
    #form="ngForm"
    class="mt-3 reset-password-page__form"
    [formGroup]="changePasswordForm"
    (ngSubmit)="submit()"
  >
    <mat-form-field class="filed-style" appearance="fill">
      <mat-icon
        class="password-icon"
        appShowHidePassword
        [target]="pass"
      ></mat-icon>
      <input
        class="p-2 input-style"
        matInput
        type="password"
        placeholder="New Password"
        formControlName="password"
        #pass
      />
      <mat-hint class="hint">
        <mat-icon class="mr-4 warning">warning</mat-icon>
        Should be at least 6 characters include(Capital & number)
      </mat-hint>
      <mat-error *ngIf="f.password.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error
        *ngIf="
          !f.password.hasError('required') &&
          f.password.hasError('passwordWeak')
        "
      >
        Password must be at least 6 characters include(Capital & number)
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-3 filed-style" appearance="fill">
      <mat-icon
        class="password-icon"
        appShowHidePassword
        [target]="passConf"
      ></mat-icon>
      <input
        class="p-2 input-style"
        matInput
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        #passConf
      />
      <mat-error>password & confirm didn't match. Try again</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      [ngClass]="{
        'basic-style-btn': true,
        'disabled-btn ': form.invalid,
        'main-btn': form.valid
      }"
      [disabled]="form.invalid"
      color="primary"
      type="submit"
    >
      CHANGE PASSWORD
    </button>
  </form>
</app-auth-container>
