@import "../variables";

.basic-style-btn {
  width: 100% !important;
  font-size: 1.4rem !important;
  font-weight: 600;
  border-radius: 0.5rem !important;
  border: 0.1rem solid !important;
  text-transform: uppercase !important;
}

.main-btn {
  border-color: $color-primary !important;

  &:hover {
    background-color: $hover-color !important;
    border-color: $hover-color !important;
  }
}

.secondary-btn {
  border-color: $white-color !important;
  background-color: transparent !important;
  color: $white-color !important;

  &:hover {
    background-color: $bg-body !important;
    color: $hover-color !important;
    border-color: $bg-body !important;
  }
}

.disabled-btn {
  background-color: rgb(183 178 178 / 12%) !important;
  border-color: rgba(119, 118, 118, 0.12) !important;
  color: #466565 !important;
  cursor: not-allowed !important;
}
