@import "~src/assets/scss/variables";
@import "~src/assets/scss/mixins";

.setting {
  // padding-top: 5rem;
  // padding-bottom: 3rem;
  // width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;

    .title {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }

  .link {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all 0.8s;
    text-align: center;
    width: 20rem;

    @include respond(tab-port) {
      width: 15rem;
    }

    @media (max-width: 670px) {
      width: 100%;
    }

    &--top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 0.8s;
    }

    &--bottom {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transition: all 0.8s;
    }

    &:hover {
      background-color: $color-primary-light;
      border-radius: 0;
    }
  }

  .link-active {
    background-color: $color-primary;
    font-weight: 500;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 670px) {
      flex-direction: column;
    }

    &__left {
      margin-right: 7rem;

      @include respond(tab-port) {
        margin-right: 3rem;
      }

      @media (max-width: 670px) {
        margin-right: 0;
        margin-bottom: 4rem;
      }
    }

    &__right {
      background-color: $bg-body !important;
      padding: 3rem 2rem;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px 0 4px rgba(0, 0, 0, 0.4);
      border-radius: 0.5rem;
      flex-grow: 1;
    }
  }
}

.link-profile {
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  background-color: #267b7f;
  color: $white-color;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary-light;
  }
}
