<app-auth-container
  class="reset-password-page"
  title="reset password"
  [showLogo]="showLogo"
>
  <div *ngIf="!linkSended">
    <p class="mt-4 reset-password-page__head" copy-1>
      Enter the email address associated with your account, and we'll email you
      a link to reset your password.
    </p>

    <form
      #form="ngForm"
      class="reset-password-page__form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="submit()"
    >
      <mat-form-field
        class="mt-3 filed-style sign-in-page__form-field"
        appearance="fill"
      >
        <input
          type="email"
          class="p-2 input-style"
          matInput
          placeholder="Email"
          formControlName="email"
        />

        <mat-error
          *ngIf="
            f.controls.email.hasError('email') &&
            !f.controls.email.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="f.controls.email.hasError('required')">
          Email is required!
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        [ngClass]="{
          'basic-style-btn': true,
          'disabled-btn ': form.invalid,
          'main-btn': form.valid
        }"
        [disabled]="form.invalid"
        color="primary"
        type="submit"
      >
        SEND RESET LINK
      </button>
    </form>

    <mat-error class="mt-3 invalid-data" *ngIf="isNotExist"
      >Couldn't find your Mido Account!
    </mat-error>
  </div>

  <div *ngIf="linkSended" class="check-box">
    <p class="mt-4 check-msg reset-password-page__head" copy-1>
      <span
        >LINK SENDED
        <mat-icon class="msg-success"> check_circle </mat-icon></span
      >
      Check your email for a link to reset your password
    </p>

    <button
      mat-raised-button
      class="btn basic-style-btn main-btn"
      color="primary"
      type="submit"
      [routerLink]="['/', ROUTES.SIGN_IN]"
    >
      Return to sign in
    </button>
  </div>
</app-auth-container>

<router-outlet></router-outlet>
