@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.reset-password-page {
  &__head {
    color: $white-color;
    font-size: 0.98rem;
    text-align: center;
    width: 100%;
  }

  &__form {
    width: 100%;
  }

  .btn {
    margin-top: 2rem !important;
  }

  .check-msg {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 1rem;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem;

      .mat-icon {
        margin-left: 1rem !important;
        color: #4bb543;
      }
    }
  }

  .invalid-data {
    @include flexCenter(row);
    width: 100%;
    font-size: 0.8rem;
  }
}
