$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$mido-lochinvar-palette: (
  50: #e5eff0,
  100: #bed7d9,
  200: #93bdbf,
  300: #67a3a5,
  400: #478f92,
  500: #267b7f,
  600: #227377,
  700: #1c686c,
  800: #175e62,
  900: #0d4b4f,
  A100: #86f7ff,
  A200: #53f3ff,
  A400: #20f0ff,
  A700: #07eeff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);


$mido-shark-palette: (
  50: #e4e5e5,
  100: #bcbdbd,
  200: #909292,
  300: #636666,
  400: #414545,
  500: #202424,
  600: #1c2020,
  700: #181b1b,
  800: #131616,
  900: #0b0d0d,
  A100: #54ffff,
  A200: #21ffff,
  A400: #00eded,
  A700: #00d4d4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);
